# Test Report

Generated on: 2025-03-05 22:09:56

## Results

| LLM                              | Stack      | Status     |   Steps |   Time (s) |   Input Tokens |   Output Tokens |
|----------------------------------|------------|------------|---------|------------|----------------|-----------------|
| google/gemini-2.0-flash-001      | Python     | ✅ Success |       7 |      51.54 |          28570 |            3314 |
| google/gemini-2.0-flash-001      | Java       | ✅ Success |      25 |     193.3  |         392487 |           10502 |
| google/gemini-2.0-flash-001      | JavaScript | ✅ Success |       7 |      35.21 |          28261 |            2525 |
| qwen/qwen-2.5-coder-32b-instruct | Python     | ✅ Success |      13 |     320.42 |          85119 |            4422 |

## Failures

