# Test Report

Generated on: 2025-03-06 17:43:17

## Results

| LLM                         | Stack       | Status     |   Steps |   Attempts |   Time (s) |   Input Tokens |   Output Tokens |
|-----------------------------|-------------|------------|---------|------------|------------|----------------|-----------------|
| google/gemini-2.0-flash-001 | Python      | ✅ Success |      14 |          4 |      93.43 |          66050 |            1861 |
| google/gemini-2.0-flash-001 | Java        | ❌ Failure |      45 |         10 |     163.47 |         438757 |            4295 |
| google/gemini-2.0-flash-001 | JavaScript  | ✅ Success |       5 |          1 |      37.33 |          10676 |            1004 |
| google/gemini-2.0-flash-001 | C++         | ❌ Failure |      47 |         10 |     520.69 |       14961422 |            4519 |
| google/gemini-2.0-flash-001 | C#          | ✅ Success |      25 |          4 |     131.56 |         156827 |            4394 |
| google/gemini-2.0-flash-001 | PHP         | ✅ Success |      13 |          5 |     428.27 |        3118188 |             620 |
| google/gemini-2.0-flash-001 | Rust        | ❌ Failure |      58 |         10 |     493.68 |        4013379 |           10239 |
| google/gemini-2.0-flash-001 | TypeScript  | ✅ Success |       7 |          3 |     220.01 |          27580 |            2975 |
| google/gemini-2.0-flash-001 | Kotlin      | ❌ Failure |      69 |         10 |     272.67 |        1214653 |            5405 |
| google/gemini-2.0-flash-001 | Ruby        | ❌ Failure |      66 |         10 |     481.63 |        1307812 |            6092 |
| google/gemini-2.0-flash-001 | Scala       | ❌ Failure |      34 |         10 |     170.81 |         474232 |            3206 |
| google/gemini-2.0-flash-001 | Zig         | ❌ Failure |      44 |         10 |     904.57 |        4707188 |           16243 |
| google/gemini-2.0-flash-001 | Haskell     | ❌ Failure |      15 |          5 |     269.07 |         107202 |            1697 |
| google/gemini-2.0-flash-001 | Perl        | ❌ Failure |      21 |          5 |    1623.26 |         117443 |            8403 |
| google/gemini-2.0-flash-001 | Raku        | ❌ Failure |      30 |          5 |     252.53 |        1135476 |            2082 |
| google/gemini-2.0-flash-001 | Clojure     | ❌ Failure |      27 |          5 |     137.1  |         542656 |            3835 |
| google/gemini-2.0-flash-001 | Common Lisp | ❌ Failure |      20 |          5 |     306.4  |         170956 |            8590 |
| google/gemini-2.0-flash-001 | OCAML       | ❌ Failure |      11 |          5 |     388.05 |         100284 |            2964 |
| google/gemini-2.0-flash-001 | D lang      | ❌ Failure |      28 |          5 |     329.72 |        3040501 |            3211 |
| google/gemini-2.0-flash-001 | Elixir      | ❌ Failure |      17 |          5 |     139.33 |          82546 |            1620 |
| openai/gpt-4o-mini          | Python      | ✅ Success |       5 |          1 |      47.09 |          11432 |            1056 |
| openai/gpt-4o-mini          | Java        | ❌ Failure |       7 |          5 |     193.6  |          30607 |            3044 |
| openai/gpt-4o-mini          | JavaScript  | ✅ Success |      10 |          2 |      75.62 |          31175 |            2484 |
| openai/gpt-4o-mini          | C++         | ❌ Failure |      12 |          5 |     384.29 |         144216 |            2316 |
| openai/gpt-4o-mini          | C#          | ❌ Failure |      20 |          5 |      76.98 |         130616 |            6043 |
| openai/gpt-4o-mini          | PHP         | ❌ Failure |      32 |          5 |     404.81 |        1085744 |           18928 |
| openai/gpt-4o-mini          | Rust        | ❌ Failure |      16 |          5 |    1390.03 |         283647 |            7065 |
| openai/gpt-4o-mini          | TypeScript  | ❌ Failure |       8 |          5 |     284.02 |          36079 |            2678 |
| openai/gpt-4o-mini          | Kotlin      | ❌ Failure |      18 |          5 |     475.78 |         310276 |            2203 |
| openai/gpt-4o-mini          | Ruby        | ✅ Success |      23 |          4 |     222.27 |         112485 |            8697 |
| openai/gpt-4o-mini          | Scala       | ❌ Failure |      17 |          5 |     190.64 |          94012 |            6162 |
| openai/gpt-4o-mini          | Zig         | ❌ Failure |      28 |          5 |     190.76 |         893432 |            3731 |
| openai/gpt-4o-mini          | Haskell     | ❌ Failure |      16 |          5 |     488.72 |         429912 |            5107 |
| openai/gpt-4o-mini          | Perl        | ❌ Failure |      27 |          5 |    1023.07 |         164182 |            9643 |
| openai/gpt-4o-mini          | Raku        | ❌ Failure |      20 |          5 |     228.16 |          97745 |            5877 |